<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
   

</head>
<body>
    <h1>About Us</h1>
    <p>Nikols, a brand you can trust.</p>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        <a href="/services">Services</a>
        <a href="/inspiration">Inspiration</a>
    </nav>
</body>
</html>
