<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    

</head>
<body>
    <h1>Contact Us</h1>
    <nav></nav>
        <a href="/home">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        <a href="/services">Services</a>
        <a href="/inspiration">Inspiration</a>
    </nav>
    <form action="/contact" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
  
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone">
  
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
  
      <button type="submit">Submit</button>
    </form>
    
    <div class="contact-info">
        <h3>Our Contact Information</h3>
        <p><strong>Email:</strong> nikols.com</p>
        <p><strong>Phone:</strong>+63-929-330-220</p>
        <p><strong>Address:</strong> Calapan City, Oriental Mindoro, Philippines</p>
      </div>
</body>
</html>